@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #FFFFF2;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #EDEDB2;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #EDEDB2;
}